/* Color Guide */
.sample {
	color: #ffffff;
	color: #F38630;
	color: #A49286;
	color: #E0D1B4;
	color: #EBE4D2;
	color: #F5F5F7;
}

body, html {
  background-color: #F5F5F7;
  margin: 0;
  padding: 0;
}
.dlm-header img {
  height: 100px;
}
.dlm-navigation-wrap {
	/*background: #EBE4D2;
	border-bottom: 8px #E0D1B4 solid;
	border-top: 2px #A49286 solid;*/
}
.dlm-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
	padding: 10px 120px;
}
nav {
	margin-left: auto;
	font-family: 'Raleway', sans-serif;
}
nav ul {
	padding: 0;
	margin: 0;
}
nav li {
	display: inline;
	padding-left: 20px;
}
nav a {
	color: black;
	text-decoration: none;
}
nav li a {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav a:hover, nav a:active {
	color: orange;
}
#pull {
	display: none;
	color: white;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
}

.dlm-mainpage-slider {
	width: 100%;
}

.dlm-mainpage-slider img {
	height: 500px;
}

.slick-arrow.slick-prev:before,
.slick-arrow.slick-next:before {
	color: #F38630;
	width: 35px;
	height: 35px;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
	z-index: 1;
}

.slick-arrow.slick-prev {
	left: 30px;
}

.slick-arrow.slick-next {
	right: 30px;
}
/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	.dlm-navigation {
		flex-wrap: wrap;
	}
	.dlm-logo {
		margin: 0 auto;
	}
	.dlm-navigation-wrap {
		display: none;
	}
	nav {
  		width: 100%;
  	}
	ul {
		display: flex;
		flex-wrap: wrap;
	}
	nav li {
		flex-grow: 1;
		width: 100%;
		padding: 10px 0 0;
		text-align: center;
	}
	li:last-child {
		padding-bottom: 10px;
	}
	#pull {
		display: block;
		background-color: rgb(128,120,118);
		width: 100%;
		position: relative;
	}
}